@font-face {
    font-family: 'Press Start 2p';
}

body{
    margin: 0;
    height: 100vh;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    font-family: 'Press Start 2p', sans-serif;
    font-size: 1.45vh;
    background-color: #454545;
}

#root{
    height: 100%;
    display: flex;
    justify-content: center;
}